* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

.letter {
    display: inline-block;
    will-change: transform, opacity;
}

.panel {
    position: relative;
    overflow: hidden;
}